<div class="bg-gray-50 min-h-screen">
  <div class="bg-white py-4 px-10 flex justify-between items-center border-b">
    <div class="font-bold">Beneficary</div>
    <div
      class="w-8 h-8 rounded-full bg-purple-500 flex items-center justify-center text-white"
    >
      <img
        src="../../static/images/Avatar.png"
        alt="User Profile"
        class="rounded-full"
      />
    </div>
  </div>
  <div class="py-6 px-10 bg-[#F0F2F5]">
    <h2 class="text-xl font-semibold mb-6">
      Cancer Management & Treatment Assistance
    </h2>
    <div class="flex flex-col gap-7 w-full bg-white rounded-2xl py-10 px-6">
      <h3 class="text-2xl font-bold text-[#FCB814]">
        CANCER TREATMENT OPTIONS
      </h3>
      <p class="text-gray-600 mb-4">
        Explore evidence-based therapies and supportive care at EJACC
      </p>
      <div class="grid grid-cols-3 gap-3">
        <div
          class="rounded-md custom-shadow h-72 flex flex-col justify-between p-4 items-center"
        >
          <img
            src="../../static/images/cancermanagement/radiation.png"
            alt="Radiation Therapy Icon"
            class="h-8 w-8"
          />
          <h4 class="text-lg font-bold text-gray-800">Radiation Therapy</h4>
          <p class="text-gray-600 text-center text-sm">
            Radiotherapy uses high-energy radiation (like X-rays) to destroy
            cancer cells and shrink tumors. It targets a specific area to
            minimize damage to surrounding healthy tissue. Often used before or
            after surgery or with chemotherapy.
          </p>
          <button
            class="px-7 py-1 bg-[#749AB6] text-white text-sm rounded hover:bg-[#5a7c94] transition"
          >
            Apply
          </button>
        </div>
        <div
          class="rounded-md custom-shadow h-72 flex flex-col justify-between p-4 items-center"
        >
          <img
            src="../../static/images/cancermanagement/radioactive.png"
            alt="Radioactive Therapy Icon"
            class="h-8 w-8"
          />
          <h4 class="text-lg text-center font-bold text-gray-800">
            Radioactive Iodine Therapy
          </h4>
          <p class="text-gray-600 text-center text-sm">
            This therapy involves taking radioactive iodine (I-131) to destroy
            thyroid cancer cells. The iodine collects in thyroid tissues, making
            it highly effective and specific for thyroid cancer treatment.
          </p>
          <button
            class="px-7 py-1 bg-[#749AB6] text-white text-sm rounded hover:bg-[#5a7c94] transition"
          >
            Apply
          </button>
        </div>
        <div
          class="rounded-md custom-shadow h-72 flex flex-col justify-between p-4 items-center"
        >
          <img
            src="../../static/images/cancermanagement/brachy.png"
            alt="Branchy Icon"
            class="h-8 w-8"
          />
          <h4 class="text-lg font-bold text-gray-800">Brachytherapy</h4>
          <p class="text-gray-600 text-center text-sm">
            Brachytherapy delivers radiation directly inside or next to the
            tumor using implants or radioactive seeds. It allows for a high dose
            to the cancer with minimal effect on nearby tissues.
          </p>
          <button
            class="px-7 py-1 bg-[#749AB6] text-sm text-white rounded hover:bg-[#5a7c94] transition"
          >
            Apply
          </button>
        </div>
        <div
          class="rounded-md custom-shadow h-72 flex flex-col justify-between p-4 items-center"
        >
          <img
            src="../../static/images/cancermanagement/chemo.png"
            alt="Chemotherapy Icon"
            class="h-8 w-8"
          />
          <h4 class="text-lg font-bold text-gray-800">Chemotherapy</h4>
          <p class="text-gray-600 text-center text-sm">
            Surgical procedures remove cancerous tumors and affected tissues. It
            may be curative, preventive, or part of diagnosis and staging.
            Recovery time depends on cancer type and surgical complexity.
          </p>
          <button
            class="px-7 py-1 bg-[#749AB6] text-sm text-white rounded hover:bg-[#5a7c94] transition"
          >
            Apply
          </button>
        </div>
        <div
          class="rounded-md custom-shadow h-72 flex flex-col justify-between p-4 items-center"
        >
          <img
            src="../../static/images/cancermanagement/surgery.png"
            alt="Surgery Icon"
            class="h-8 w-8"
          />
          <h4 class="text-lg font-bold text-gray-800">Surgery</h4>
          <p class="text-gray-600 text-center text-sm">
            Surgical procedures remove cancerous tumors and affected tissues. It
            may be curative, preventive, or part of diagnosis and staging.
            Recovery time depends on cancer type and surgical complexity.
          </p>
          <button
            class="px-7 py-1 bg-[#749AB6] text-sm text-white rounded hover:bg-[#5a7c94] transition"
          >
            Apply
          </button>
        </div>
        <div
          class="rounded-md custom-shadow h-72 flex flex-col justify-between p-4 items-center"
        >
          <img
            src="../../static/images/cancermanagement/medication.png"
            alt="Medication Icon"
            class="h-8 w-8"
          />
          <h4 class="text-lg text-center font-bold text-gray-800">
            Pre-Cancerous Medications
          </h4>
          <p class="text-gray-600 text-center text-sm">
            These medications are used to manage or prevent the development of
            cancer in high-risk individuals, especially with genetic
            predisposition or early signs. Includes hormone blockers and
            immunopreventive drugs.
          </p>
          <button
            class="px-7 py-1 bg-[#749AB6] text-sm text-white rounded hover:bg-[#5a7c94] transition"
          >
            Apply
          </button>
        </div>
        <div
          class="rounded-xl custom-shadow h-72 flex flex-col justify-between p-4 items-center"
        >
          <img
            src="../../static/images/cancermanagement/laboratory.png"
            alt="AMbot Icon"
            class="h-8 w-8"
          />
          <h4 class="text-lg text-center font-bold text-gray-800">
            Post-Treatment Laboratory Tests
          </h4>
          <p class="text-gray-600 text-center text-sm">
            Post-treatment lab tests help monitor a patient’s recovery, detect
            recurrence, and manage long-term effects of treatment. These may
            include blood counts, tumor markers, and imaging.
          </p>
          <button
            class="px-7 py-1 bg-[#749AB6] text-sm text-white rounded hover:bg-[#5a7c94] transition"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="h-16 bg-[#FCB814]"></div>
</div>
